* {
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}

body {
  color: $white;
  background-color: $black;
  font-family: "Krona One", sans-serif;
}

.orange {
  color: $orange;
}
.blue {
  color: $blue;
}

.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-radius: 30px;
  border-color: $primary !important;
  background: $white;
  color: $primary;
  transition: 0.1s ease-in-out;

  @include media-breakpoint-down(lg) {
    font-size: 0.75rem;
  }

  &:hover {
    color: $white;
    background: $primary;
    border-color: $white;
  }

  &__inverted {
    border-color: $primary !important;
    background: $primary;
    color: $white;

    &:hover {
      color: $primary;
      background: $white;
      border-color: $primary;
    }
  }

  &__add {
    border-color: $green !important;
    background: $green;
    color: $white;

    &:hover {
      border-color: $green !important;
      background: $white;
      color: $green;
    }
  }

  &__remove {
    border-color: $primary !important;
    background: $primary;
    color: $white;
  }
}

.add,
.remove {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 50px;
}

.add {
  border: 2px solid green;
}

.remove {
  border: 2px solid red;
}
