.row-form {
  min-height: calc(100vh - 120px - 150px);

  .privacy {
    margin-top: auto;
    margin-bottom: auto;
    @include media-breakpoint-down(sm) {
      font-size: 0.75rem;
    }
  }

  @include media-breakpoint-down(sm) {
    min-height: calc(100vh - 100px);
  }

  .col-left {
    @include media-breakpoint-down(sm) {
      min-height: 200px;
    }
  }

  .col-right {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    &__left {
      min-height: 50%;
    }
    &__right {
      min-height: 50%;
      padding: 2rem;
      box-shadow: -10px -10px 0px $blue, 10px 10px 0px $orange;

      strong {
        border-bottom: 2px solid $orange;
      }
    }
  }
}

.form-label {
  color: $white !important;
}

.form-input {
  border-radius: 0;
  border: none;
  background-color: transparent !important;
  border-bottom: 1px solid $white;
  color: $white !important;
  box-shadow: none;

  &:focus,
  &:active {
    background-color: transparent !important;
    box-shadow: none;
  }

  &::placeholder {
    color: $white;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.75rem;
  }
}

.change-tab {
  cursor: pointer;
}
