.hero {
  height: calc(100vh - 120px);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url("../../../public/categorie/pizza.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    height: calc(100vh - 100px);
  }

  &__container {
    height: 100%;
    width: 100%;

    .title {
      font-size: 3rem;
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
      }
    }
  }
}

.fix-scroll {
  position: absolute;
  bottom: 0;
  left: 0;
}
